html {
	min-height: 100%;
	background: url("fon.jpg");
	display: flex;
}
body {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font: 16px helvetica, sans-serif;
}
.container {
	background-color: #fff;
	padding: 30px;
	max-width: 600px;
	border-radius: 10px;
	border: 5px outset #aaa;
}
#quote-title {
	font: 24px 'Inknut Antiqua', serif;
	text-align: center;
	color: #999;
}
#quote-content {
	color: #777;
	text-align: center;
}
#get-quote, .twitter-share-button {
	background-color: #1B95E0;
	color: #fff;
	border: 0;
	outline: 0;
	padding: 5px 10px;
	border-radius: 3px;
	text-decoration: none;
	font-size: inherit;
	margin-bottom: 20px;
	margin-right: 20px;
}
.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 40px;
}
.twitter-share-button img {
	vertical-align: middle;
}